<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_ready_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,8}}</string>
                <key>sourceSize</key>
                <string>{48,16}</string>
            </dict>
            <key>spr_ready_1</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{1,1}}</string>
                <key>offset</key>
                <string>{-23.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{48,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ready_object.pvr.ccz</string>
            <key>size</key>
            <string>{48,12}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7d47a4ab6263caa91bbef03c04cd7c:85236f1b294dfe5992cd167993b1bcbf:ed8afa7dab195ca68197d64984e3411e$</string>
            <key>textureFileName</key>
            <string>ready_object.pvr.ccz</string>
        </dict>
    </dict>
</plist>
