<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boot_0</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>chest_0</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>e_tank_0</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>energy_big_0</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{16,12}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>energy_big_1</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{16,12}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>energy_small_0</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{8,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>energy_small_1</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{8,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>fist_0</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>head_0</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>health_big_0</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>health_big_1</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>health_small_0</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{8,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>health_small_1</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{8,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>helmet_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>life_0</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>m_tank_0</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.pvr.ccz</string>
            <key>size</key>
            <string>{256,21}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c6abc9be4bb3fdf9d5bbd1b35d44169:50fcd0c71a995f391ce0ba0ff9a3a9a4:c5221291841d6e4abe478115063f6abe$</string>
            <key>textureFileName</key>
            <string>item.pvr.ccz</string>
        </dict>
    </dict>
</plist>
