<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_militaryman_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1208,1008}</string>
                <key>spriteSourceSize</key>
                <string>{1208,1008}</string>
                <key>textureRect</key>
                <string>{{0,0},{1208,1008}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level_militaryman_bank.png</string>
            <key>size</key>
            <string>{1208,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce1491233003e86af0b588ad96789134:a9198399b1ea8f48e8a0d4c8cf48cb8b:2d5cfe2284a45f97e103e3854b201004$</string>
            <key>textureFileName</key>
            <string>level_militaryman_bank.png</string>
        </dict>
    </dict>
</plist>
