<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuzzy_bullet_a_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{7,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{7,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>fuzzy_bullet_a_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{23,12}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{23,12}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>fuzzy_bullet_b_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_11</key>
            <dict>
                <key>frame</key>
                <string>{{37,29},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{33,17}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{33,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_14</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_15</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_16</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_17</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_18</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_19</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_20</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_21</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_22</key>
            <dict>
                <key>frame</key>
                <string>{{37,104},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_23</key>
            <dict>
                <key>frame</key>
                <string>{{36,123},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_24</key>
            <dict>
                <key>frame</key>
                <string>{{16,130},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_25</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{25,19}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{25,19}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_26</key>
            <dict>
                <key>frame</key>
                <string>{{37,64},{25,19}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{25,19}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_27</key>
            <dict>
                <key>frame</key>
                <string>{{35,142},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_28</key>
            <dict>
                <key>frame</key>
                <string>{{16,130},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_29</key>
            <dict>
                <key>frame</key>
                <string>{{36,123},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_30</key>
            <dict>
                <key>frame</key>
                <string>{{37,104},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_31</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_32</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_33</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_34</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_35</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_36</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{25,17}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{25,17}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{33,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{33,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{33,23}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fuzzy_bullet_b_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{33,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{33,23}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fuzzy_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{64,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dcd8271864900c4c169f0593e62781e:4113266b7c18a317869e0637bded9cba:6a1b2fa4d5ff95fa9e2c5e5eb988c49b$</string>
            <key>textureFileName</key>
            <string>fuzzy_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
