<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_big_0</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{24,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_big_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_big_2</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{56,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{56,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_big_3</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_big_4</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{44,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_big_5</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{42,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_big_6</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{36,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_big_7</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{28,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_big_8</key>
            <dict>
                <key>frame</key>
                <string>{{242,46},{4,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{4,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explosion_death_0</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{24,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion_death_3</key>
            <dict>
                <key>frame</key>
                <string>{{362,40},{10,10}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{10,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion_death_4</key>
            <dict>
                <key>frame</key>
                <string>{{286,44},{4,4}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{4,4}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion_death_5</key>
            <dict>
                <key>frame</key>
                <string>{{146,48},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion_small_0</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>explosion_small_1</key>
            <dict>
                <key>frame</key>
                <string>{{330,29},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{17,16}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>explosion_small_2</key>
            <dict>
                <key>frame</key>
                <string>{{348,29},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{13,12}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>explosion_small_3</key>
            <dict>
                <key>frame</key>
                <string>{{362,28},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{11,10}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>explosion_small_4</key>
            <dict>
                <key>frame</key>
                <string>{{280,44},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{5,4}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.pvr.ccz</string>
            <key>size</key>
            <string>{382,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14b7f49ae967f6ab68e64442995b359d:4f3a4af49bc191d6e8466cb58678df68:52b81b2f702c1760ae890764234f613f$</string>
            <key>textureFileName</key>
            <string>explosion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
