<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash_brain_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{26,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{28,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{26,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{26,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{28,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{28,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{28,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{28,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{28,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>flash_brain_walk_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{28,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flash_brain.pvr.ccz</string>
            <key>size</key>
            <string>{32,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbef4c59dcd5fa09db74ee248e9bd77b:bfdaff1bd2d53144d7b0ccc402081a34:00c47f3538f1f5a24eda3b33f37418d4$</string>
            <key>textureFileName</key>
            <string>flash_brain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
