<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>belt_right_shine_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,115}}</string>
                <key>sourceSize</key>
                <string>{146,115}</string>
            </dict>
            <key>belt_right_shine_1</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,115}}</string>
                <key>sourceSize</key>
                <string>{146,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>belt_right.pvr.ccz</string>
            <key>size</key>
            <string>{298,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02887e47224964acb301f80a6a08278:e04583fbeff2814ac20aceb28b89b8b4:b8a72237d84b8aba22a2afbf9daec819$</string>
            <key>textureFileName</key>
            <string>belt_right.pvr.ccz</string>
        </dict>
    </dict>
</plist>
