<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jetbird_fly_0</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,40}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
            <key>jetbird_fly_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{79,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jetbird.pvr.ccz</string>
            <key>size</key>
            <string>{160,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14e5b91ee39007f624cb26a5e74d601c:9855c963b17b9fd2351ed6679766bf22:80e699f2b2daf2f287f3c1f939bdf723$</string>
            <key>textureFileName</key>
            <string>jetbird.pvr.ccz</string>
        </dict>
    </dict>
</plist>
