<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tremor_body_0</key>
            <dict>
                <key>frame</key>
                <string>{{258,138},{85,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,49}}</string>
                <key>sourceSize</key>
                <string>{85,49}</string>
            </dict>
            <key>tremor_body_1</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{85,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,49}}</string>
                <key>sourceSize</key>
                <string>{85,49}</string>
            </dict>
            <key>tremor_head_0</key>
            <dict>
                <key>frame</key>
                <string>{{138,138},{118,92}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{118,92}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tremor_head_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{118,134}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{118,134}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tremor_head_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,134}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{126,134}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tremor_head_3</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{126,134}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{126,134}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>tremor_tail_a_0</key>
            <dict>
                <key>frame</key>
                <string>{{317,72},{1,1}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>tremor_tail_a_1</key>
            <dict>
                <key>frame</key>
                <string>{{317,43},{17,27}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{17,27}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>tremor_tail_a_2</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{23,39}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{23,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>tremor_tail_a_3</key>
            <dict>
                <key>frame</key>
                <string>{{266,89},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>tremor_tail_b_0</key>
            <dict>
                <key>frame</key>
                <string>{{266,89},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>tremor_tail_b_1</key>
            <dict>
                <key>frame</key>
                <string>{{309,138},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tremor.pvr.ccz</string>
            <key>size</key>
            <string>{358,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:528c028e19d047f908f3b259d1c3fab7:5a01b6f171997d4f8e416f96b1339e4c:24bfb9133cb71fc1622a0f8705d809d7$</string>
            <key>textureFileName</key>
            <string>tremor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
