<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_complete_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_complete.pvr.ccz</string>
            <key>size</key>
            <string>{260,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b747552b2ea4ef8c42a0691ce0c82b:ef95bb45a1c96990252dd0b21cfb3e92:a8991ad84e9e470ea0e63b7473bbea8c$</string>
            <key>textureFileName</key>
            <string>level_complete.pvr.ccz</string>
        </dict>
    </dict>
</plist>
