<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_skull_attack_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{15,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{15,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{15,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{15,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{15,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_attack_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{15,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>wall_skull_still_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{15,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wall_skull.pvr.ccz</string>
            <key>size</key>
            <string>{20,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3774a24b84e969f6c03d9d4c570f2c1:7c1fa31783f8dab1e5a5e5cd1056095f:a68b89ec9b4f8e5ffbfa6902c78a6383$</string>
            <key>textureFileName</key>
            <string>wall_skull.pvr.ccz</string>
        </dict>
    </dict>
</plist>
