<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_fly_0</key>
            <dict>
                <key>frame</key>
                <string>{{258,34},{62,28}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>plane_fly_1</key>
            <dict>
                <key>frame</key>
                <string>{{322,34},{62,28}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>plane_fly_2</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,30}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>plane_fly_3</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,30}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>plane_fly_4</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,32}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>plane_fly_5</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>plane_fly_6</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>plane_fly_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>plane_fly_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane.pvr.ccz</string>
            <key>size</key>
            <string>{386,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b5d80cc89a6bf3c1bea5c9e52ea2fa8:5d73ad99688b6c7b25258b26ddd5c573:ac34a41def3bdcee814062a65f27898e$</string>
            <key>textureFileName</key>
            <string>plane.pvr.ccz</string>
        </dict>
    </dict>
</plist>
