<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>subeil_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{23,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,28}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>subeil_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>subeil_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{23,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,28}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>subeil_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{23,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>subeil_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{23,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>subeil_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{23,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>subeil_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{23,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>subeil.pvr.ccz</string>
            <key>size</key>
            <string>{28,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb8bde9c39d80582c54c42d90c0bcbbc:ed3fb6bcdb026ceb8655fb4da83249bd:7ead475e7d8fe3be51a5923a1cd623b0$</string>
            <key>textureFileName</key>
            <string>subeil.pvr.ccz</string>
        </dict>
    </dict>
</plist>
