<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sumatran_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,65}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>sumatran_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{54,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,65}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>sumatran_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{54,65}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,65}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>sumatran_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{52,49}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{52,49}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>sumatran_stand_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{52,49}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{52,49}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sumatran.pvr.ccz</string>
            <key>size</key>
            <string>{58,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48cd8d6f84b6a5620ee84fa4d653a6e8:be6762b2bf9c18c2c6dd90fd2f1dd0eb:a915c0e3e501bd6c314ad8e4277a8557$</string>
            <key>textureFileName</key>
            <string>sumatran.pvr.ccz</string>
        </dict>
    </dict>
</plist>
