<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golem_jumper_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{30,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{30,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{30,42}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{30,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{30,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{30,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_jump_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{30,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>golem_jumper_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{30,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golem_jumper.pvr.ccz</string>
            <key>size</key>
            <string>{34,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee719f9cb4da527e0d51995105ec4622:d365f532f4525a1ee0bcd5561edc5cb3:d9eff15fb93bdcf9dc7ef94740fd2704$</string>
            <key>textureFileName</key>
            <string>golem_jumper.pvr.ccz</string>
        </dict>
    </dict>
</plist>
