<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_joe_flip_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>cannon_joe_flip_1</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>cannon_joe_shoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>cannon_joe_shoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{36,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>cannon_joe_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon_joe.pvr.ccz</string>
            <key>size</key>
            <string>{104,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f45ecbbd58b978619ca96a46601bf8:36b1db3fc8cf9ca81018ea6d303bb0ea:0f14dd5c48c09ffb2c73a45b9867cc34$</string>
            <key>textureFileName</key>
            <string>cannon_joe.pvr.ccz</string>
        </dict>
    </dict>
</plist>
