<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>claw_bullet_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,11}}</string>
                <key>sourceSize</key>
                <string>{24,11}</string>
            </dict>
            <key>claw_bullet_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>claw_bullet_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>claw_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{28,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:194292d1d641493ca559df7007194626:fa368a812dad4fd83797d4eb285bccc7:f753290cef752b5fb043cb4e2a08bf53$</string>
            <key>textureFileName</key>
            <string>claw_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
