<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>directional_star_bullet_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>directional_star_bullet_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>directional_star_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{38,22}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ec7dadf933f4ed8ea1b8655857f000:0b4f0136d55c2a904373332f36c611b5:7102367879d67355554360a0db877cee$</string>
            <key>textureFileName</key>
            <string>directional_star_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
