<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheriff_climb_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{29,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>sheriff_climb_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{29,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>sheriff_climb_2</key>
            <dict>
                <key>frame</key>
                <string>{{64,190},{33,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{33,38}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>sheriff_climbshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{33,207},{29,40}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>sheriff_climbshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>sheriff_climbshoot_2</key>
            <dict>
                <key>frame</key>
                <string>{{57,151},{37,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>sheriff_hurt_0</key>
            <dict>
                <key>frame</key>
                <string>{{61,95},{54,41}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_1</key>
            <dict>
                <key>frame</key>
                <string>{{64,225},{24,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{24,25}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_10</key>
            <dict>
                <key>frame</key>
                <string>{{61,95},{54,41}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_11</key>
            <dict>
                <key>frame</key>
                <string>{{64,225},{24,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{24,25}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_12</key>
            <dict>
                <key>frame</key>
                <string>{{61,95},{54,41}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_13</key>
            <dict>
                <key>frame</key>
                <string>{{64,225},{24,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{24,25}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_14</key>
            <dict>
                <key>frame</key>
                <string>{{61,95},{54,41}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_2</key>
            <dict>
                <key>frame</key>
                <string>{{61,95},{54,41}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_3</key>
            <dict>
                <key>frame</key>
                <string>{{64,225},{24,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{24,25}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_4</key>
            <dict>
                <key>frame</key>
                <string>{{61,95},{54,41}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_5</key>
            <dict>
                <key>frame</key>
                <string>{{64,225},{24,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{24,25}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_6</key>
            <dict>
                <key>frame</key>
                <string>{{61,95},{54,41}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_7</key>
            <dict>
                <key>frame</key>
                <string>{{64,225},{24,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{24,25}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_8</key>
            <dict>
                <key>frame</key>
                <string>{{61,95},{54,41}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,41}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_hurt_9</key>
            <dict>
                <key>frame</key>
                <string>{{64,225},{24,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{24,25}}</string>
                <key>sourceSize</key>
                <string>{64,43}</string>
            </dict>
            <key>sheriff_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{61,41},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>sheriff_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{53,34}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{53,34}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>sheriff_standshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{57,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{61,31}</string>
            </dict>
            <key>sheriff_standshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,31}}</string>
                <key>sourceSize</key>
                <string>{61,31}</string>
            </dict>
            <key>sheriff_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{57,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{57,33}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>sheriff_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{57,35}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>sheriff_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{57,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{57,33}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>sheriff_walk_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{57,35}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheriff.pvr.ccz</string>
            <key>size</key>
            <string>{108,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37c29a98f2c9990baddcf711e24b7ec5:b262de55abb1742d42d88fc1d125978d:37141b291ac8a71a8a6e96536bededff$</string>
            <key>textureFileName</key>
            <string>sheriff.pvr.ccz</string>
        </dict>
    </dict>
</plist>
