<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>belt_left_shine_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,114}}</string>
                <key>sourceSize</key>
                <string>{142,114}</string>
            </dict>
            <key>belt_left_shine_1</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,114}}</string>
                <key>sourceSize</key>
                <string>{142,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>belt_left.pvr.ccz</string>
            <key>size</key>
            <string>{290,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:172996d2352a5acc46db15f276cba8d4:787145fc4efd2841a3ae2bdb69a56804:74644beae2697bf72739abe4754fe04e$</string>
            <key>textureFileName</key>
            <string>belt_left.pvr.ccz</string>
        </dict>
    </dict>
</plist>
