<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrel_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{39,43}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>barrel_stand_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{39,45}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>barrel_stand_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>barrel_still_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{39,43}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>barrel_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>barrel_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>barrel_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barrel.pvr.ccz</string>
            <key>size</key>
            <string>{44,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7a6b31ca33941074c7337a1e89e33f1:4f4c908a5d2bd47ba29f3be6306d07b5:d85a4566d4024c2dc791d7d712552654$</string>
            <key>textureFileName</key>
            <string>barrel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
