<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fade_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fade.pvr.ccz</string>
            <key>size</key>
            <string>{260,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220be95b00e53d2bdc2df9272b38b599:d1b2dce3bbf3adef504b071cc2f4cc66:79b5056a8c1f9b0efb39b18f5f985566$</string>
            <key>textureFileName</key>
            <string>fade.pvr.ccz</string>
        </dict>
    </dict>
</plist>
