<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,50}}</string>
                <key>sourceSize</key>
                <string>{73,50}</string>
            </dict>
            <key>tank_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,50}}</string>
                <key>sourceSize</key>
                <string>{73,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.pvr.ccz</string>
            <key>size</key>
            <string>{152,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4b2e5e3c2581b7683bcad7dd6f9f4b2:7900c35a3c690037c606b0fd7c6bb3ef:05ddfb56cf6a4f16b630456e9931b9d4$</string>
            <key>textureFileName</key>
            <string>tank.pvr.ccz</string>
        </dict>
    </dict>
</plist>
