<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vine_bullet_a_0</key>
            <dict>
                <key>frame</key>
                <string>{{224,101},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>vine_bullet_b_0</key>
            <dict>
                <key>frame</key>
                <string>{{224,57},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>vine_bullet_b_1</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>vine_bullet_b_2</key>
            <dict>
                <key>frame</key>
                <string>{{224,79},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>vine_bullet_b_3</key>
            <dict>
                <key>frame</key>
                <string>{{224,57},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>vine_bullet_b_4</key>
            <dict>
                <key>frame</key>
                <string>{{225,179},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>vine_bullet_b_5</key>
            <dict>
                <key>frame</key>
                <string>{{228,26},{16,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>vine_bullet_c_0</key>
            <dict>
                <key>frame</key>
                <string>{{225,151},{26,21}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{26,21}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_1</key>
            <dict>
                <key>frame</key>
                <string>{{116,171},{32,25}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{32,25}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_10</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_11</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_12</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_13</key>
            <dict>
                <key>frame</key>
                <string>{{44,59},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_14</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_15</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_16</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_17</key>
            <dict>
                <key>frame</key>
                <string>{{80,59},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_18</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_2</key>
            <dict>
                <key>frame</key>
                <string>{{190,167},{34,33}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{34,33}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_21</key>
            <dict>
                <key>frame</key>
                <string>{{40,116},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_22</key>
            <dict>
                <key>frame</key>
                <string>{{59,173},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_23</key>
            <dict>
                <key>frame</key>
                <string>{{72,114},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_24</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_3</key>
            <dict>
                <key>frame</key>
                <string>{{208,112},{34,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{34,37}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_30</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{40,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_4</key>
            <dict>
                <key>frame</key>
                <string>{{143,167},{34,45}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{34,45}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_5</key>
            <dict>
                <key>frame</key>
                <string>{{116,57},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_6</key>
            <dict>
                <key>frame</key>
                <string>{{152,57},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_7</key>
            <dict>
                <key>frame</key>
                <string>{{188,57},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_8</key>
            <dict>
                <key>frame</key>
                <string>{{136,112},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>vine_bullet_c_9</key>
            <dict>
                <key>frame</key>
                <string>{{172,112},{34,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,53}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vine_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{248,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58c7f091b1fad15dd3aeec5c0310bd4e:8911e9fb907fbaf3f1ecbcbc611a9e3d:63ef5fd3bf0e4bc4d14b1e719eed33b8$</string>
            <key>textureFileName</key>
            <string>vine_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
