<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>linear_missile_bullet_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>linear_missile_bullet_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>linear_missile_bullet_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{17,10}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>linear_missile_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{76,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:743d3d106e3aaf43275bec6bb2973385:62844743e1a2698db1a0c146bec7de27:56c534fe4329c06db7b8c6b6fb711143$</string>
            <key>textureFileName</key>
            <string>linear_missile_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
