<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helmet_airdash_0</key>
            <dict>
                <key>frame</key>
                <string>{{32,152},{24,23}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>helmet_airdash_1</key>
            <dict>
                <key>frame</key>
                <string>{{65,151},{26,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>helmet_airdash_2</key>
            <dict>
                <key>frame</key>
                <string>{{99,100},{30,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>helmet_climb_0</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{23,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_climb_1</key>
            <dict>
                <key>frame</key>
                <string>{{74,29},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_climbshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>helmet_dashjump_0</key>
            <dict>
                <key>frame</key>
                <string>{{74,63},{23,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>helmet_hurt_0</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_1</key>
            <dict>
                <key>frame</key>
                <string>{{95,132},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_10</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_11</key>
            <dict>
                <key>frame</key>
                <string>{{95,132},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_12</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_13</key>
            <dict>
                <key>frame</key>
                <string>{{95,132},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_14</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_2</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_3</key>
            <dict>
                <key>frame</key>
                <string>{{95,132},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_4</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_5</key>
            <dict>
                <key>frame</key>
                <string>{{95,132},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_6</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_7</key>
            <dict>
                <key>frame</key>
                <string>{{95,132},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_8</key>
            <dict>
                <key>frame</key>
                <string>{{35,91},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_hurt_9</key>
            <dict>
                <key>frame</key>
                <string>{{95,132},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{38,29},{29,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>helmet_jumpshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{38,60},{29,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>helmet_slide_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>helmet_slide_1</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{44,25}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>helmet_slide_2</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{44,25}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>helmet_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{29,30}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,30}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_standshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{31,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{31,30}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>helmet_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{27,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{27,28}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{99,68},{23,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{65,126},{23,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{23,28}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_walk_3</key>
            <dict>
                <key>frame</key>
                <string>{{99,68},{23,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_walkshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{69,95},{29,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,28}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_walkshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{99,36},{25,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{25,30}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_walkshoot_2</key>
            <dict>
                <key>frame</key>
                <string>{{34,122},{29,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,28}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>helmet_walkshoot_3</key>
            <dict>
                <key>frame</key>
                <string>{{99,36},{25,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{25,30}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helmet.pvr.ccz</string>
            <key>size</key>
            <string>{126,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15c8b8ef096228a8612686bb87d57eaf:97c91c582a49e995504f6c49375d1cf5:bbbea1dffbdb7134c94927339c425727$</string>
            <key>textureFileName</key>
            <string>helmet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
