<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform_fly_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,19}}</string>
                <key>sourceSize</key>
                <string>{92,19}</string>
            </dict>
            <key>platform_fly_1</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,19}}</string>
                <key>sourceSize</key>
                <string>{92,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platform.pvr.ccz</string>
            <key>size</key>
            <string>{190,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c3e073fc900f6a5b390be8abecb2a7:10c0bc7da0fde9965191119ec3d77293:31e58c3799b0eff2122c33936922932c$</string>
            <key>textureFileName</key>
            <string>platform.pvr.ccz</string>
        </dict>
    </dict>
</plist>
