<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>night_climb_0</key>
            <dict>
                <key>frame</key>
                <string>{{132,50},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>night_climb_1</key>
            <dict>
                <key>frame</key>
                <string>{{189,50},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>night_hurt_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_hurt_1</key>
            <dict>
                <key>frame</key>
                <string>{{103,102},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>night_hurt_10</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_hurt_11</key>
            <dict>
                <key>frame</key>
                <string>{{103,102},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>night_hurt_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_hurt_13</key>
            <dict>
                <key>frame</key>
                <string>{{103,102},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>night_hurt_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_hurt_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_hurt_3</key>
            <dict>
                <key>frame</key>
                <string>{{103,102},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>night_hurt_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_hurt_5</key>
            <dict>
                <key>frame</key>
                <string>{{103,102},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>night_hurt_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_hurt_7</key>
            <dict>
                <key>frame</key>
                <string>{{103,102},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>night_hurt_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_hurt_9</key>
            <dict>
                <key>frame</key>
                <string>{{103,102},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>night_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
            <key>night_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{52,46}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_10</key>
            <dict>
                <key>frame</key>
                <string>{{53,102},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_12</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_2</key>
            <dict>
                <key>frame</key>
                <string>{{50,150},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_3</key>
            <dict>
                <key>frame</key>
                <string>{{50,200},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_4</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_5</key>
            <dict>
                <key>frame</key>
                <string>{{98,200},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_6</key>
            <dict>
                <key>frame</key>
                <string>{{146,106},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_7</key>
            <dict>
                <key>frame</key>
                <string>{{196,106},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_8</key>
            <dict>
                <key>frame</key>
                <string>{{146,154},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_standshoot_9</key>
            <dict>
                <key>frame</key>
                <string>{{194,154},{48,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>night_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>night_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{56,54},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>night_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>night_walk_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{46,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,49}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>night.pvr.ccz</string>
            <key>size</key>
            <string>{246,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09ec3dc9c659284082cbc3370387514:9ed81452c0f1be4d19d35e39c9cac7ee:8eeccaa787ccc88be006a380e5969b8e$</string>
            <key>textureFileName</key>
            <string>night.pvr.ccz</string>
        </dict>
    </dict>
</plist>
