<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sliding_flame_bullet_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>sliding_flame_bullet_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>sliding_flame_bullet_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>sliding_flame_bullet_walk_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>sliding_flame_bullet_walk_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sliding_flame_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{54,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4d54869e52c561d8e8786c21a0f693:3c948e171f0c68592aa329ac3dbe965f:b7adee5bad2d45217fd6c20a01ae99eb$</string>
            <key>textureFileName</key>
            <string>sliding_flame_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
