<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grenade_bullet_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>grenade_bullet_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>grenade_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{42,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37419e672e11fa851c134ce1df6448b5:dd0b70337e11bbd667c88c80305ffbcf:8a4a56c54b1bc9e62ca5ccdea9136edb$</string>
            <key>textureFileName</key>
            <string>grenade_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
