<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>military_climb_0</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>military_climb_1</key>
            <dict>
                <key>frame</key>
                <string>{{50,62},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>military_fly_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,58}}</string>
                <key>sourceSize</key>
                <string>{92,58}</string>
            </dict>
            <key>military_hurt_0</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_hurt_1</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>military_hurt_10</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_hurt_11</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>military_hurt_12</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_hurt_13</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>military_hurt_14</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_hurt_2</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_hurt_3</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>military_hurt_4</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_hurt_5</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>military_hurt_6</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_hurt_7</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>military_hurt_8</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_hurt_9</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>military_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{44,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>military_jumpshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>military_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{138,44},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_standshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>military_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{186,44},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{136,88},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{184,88},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>military_walk_3</key>
            <dict>
                <key>frame</key>
                <string>{{136,88},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>military.pvr.ccz</string>
            <key>size</key>
            <string>{234,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:509b38bfc9fecf4f22c638b023070812:fed0c9ceaea7428cfbb1c9291796a170:fc7ae5f01d27a778751daf61957e947e$</string>
            <key>textureFileName</key>
            <string>military.pvr.ccz</string>
        </dict>
    </dict>
</plist>
