<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dross_climb_0</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>dross_climb_1</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>dross_climbshot_0</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>dross_doublejump_0</key>
            <dict>
                <key>frame</key>
                <string>{{165,135},{39,39}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{39,39}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_1</key>
            <dict>
                <key>frame</key>
                <string>{{206,135},{39,39}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{39,39}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_10</key>
            <dict>
                <key>frame</key>
                <string>{{192,34},{31,39}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{31,39}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{31,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{31,41}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_12</key>
            <dict>
                <key>frame</key>
                <string>{{119,99},{33,41}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{33,41}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_13</key>
            <dict>
                <key>frame</key>
                <string>{{162,100},{33,41}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{33,41}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_14</key>
            <dict>
                <key>frame</key>
                <string>{{205,100},{33,41}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{33,41}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{33,41}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{33,41}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_16</key>
            <dict>
                <key>frame</key>
                <string>{{45,132},{33,41}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{33,41}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_17</key>
            <dict>
                <key>frame</key>
                <string>{{45,66},{31,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{31,41}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_18</key>
            <dict>
                <key>frame</key>
                <string>{{45,132},{33,41}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{33,41}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_2</key>
            <dict>
                <key>frame</key>
                <string>{{124,135},{39,37}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{39,37}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_24</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_25</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_26</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_27</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_28</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_29</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_3</key>
            <dict>
                <key>frame</key>
                <string>{{88,66},{31,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{31,37}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_30</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_31</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_32</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_33</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_34</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_35</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_36</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_37</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_4</key>
            <dict>
                <key>frame</key>
                <string>{{127,66},{31,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{31,37}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_5</key>
            <dict>
                <key>frame</key>
                <string>{{166,67},{31,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{31,37}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_6</key>
            <dict>
                <key>frame</key>
                <string>{{205,67},{31,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{31,37}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{31,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{31,37}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_8</key>
            <dict>
                <key>frame</key>
                <string>{{41,99},{31,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{31,37}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_doublejump_9</key>
            <dict>
                <key>frame</key>
                <string>{{80,99},{31,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{31,37}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>dross_jumpshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>dross_jumpshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>dross_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>dross_stand_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>dross_stand_2</key>
            <dict>
                <key>frame</key>
                <string>{{40,34},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>dross_stand_3</key>
            <dict>
                <key>frame</key>
                <string>{{78,34},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>dross_stand_4</key>
            <dict>
                <key>frame</key>
                <string>{{116,34},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>dross_stand_5</key>
            <dict>
                <key>frame</key>
                <string>{{154,34},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>dross_standshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{88,134},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dross.pvr.ccz</string>
            <key>size</key>
            <string>{252,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0b783d402b82c7a173463aed1588941:45ce687f95d8c30cd7c8b5c717e9fef0:1a167a9e792140bcaa9614f88443ac28$</string>
            <key>textureFileName</key>
            <string>dross.pvr.ccz</string>
        </dict>
    </dict>
</plist>
