<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tremor_laser_charge_0</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{14,32}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{14,32}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>tremor_laser_charge_1</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{18,44}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>tremor_laser_charge_2</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>tremor_laser_shoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{140,44}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>tremor_laser_shot_0</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{126,32}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{126,32}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tremor_laser.pvr.ccz</string>
            <key>size</key>
            <string>{342,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d7b20540add8cc5321382e07140f76f:894a86675b47cecaaf0e3d1419f9cedd:444c7fae7338a13a08a36a551c6f890b$</string>
            <key>textureFileName</key>
            <string>tremor_laser.pvr.ccz</string>
        </dict>
    </dict>
</plist>
