<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_animation_militaryman_0</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_1</key>
            <dict>
                <key>frame</key>
                <string>{{119,433},{15,29}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{15,29}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_10</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_11</key>
            <dict>
                <key>frame</key>
                <string>{{69,157},{43,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_12</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_13</key>
            <dict>
                <key>frame</key>
                <string>{{63,257},{43,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_14</key>
            <dict>
                <key>frame</key>
                <string>{{55,302},{43,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{43,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_16</key>
            <dict>
                <key>frame</key>
                <string>{{106,93},{43,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_17</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_18</key>
            <dict>
                <key>frame</key>
                <string>{{63,206},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_19</key>
            <dict>
                <key>frame</key>
                <string>{{63,206},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_2</key>
            <dict>
                <key>frame</key>
                <string>{{91,485},{15,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{15,29}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_20</key>
            <dict>
                <key>frame</key>
                <string>{{63,206},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_21</key>
            <dict>
                <key>frame</key>
                <string>{{63,206},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_22</key>
            <dict>
                <key>frame</key>
                <string>{{63,206},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_3</key>
            <dict>
                <key>frame</key>
                <string>{{129,365},{23,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_4</key>
            <dict>
                <key>frame</key>
                <string>{{91,452},{23,31}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_5</key>
            <dict>
                <key>frame</key>
                <string>{{129,365},{23,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_6</key>
            <dict>
                <key>frame</key>
                <string>{{91,452},{23,31}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{23,31}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_7</key>
            <dict>
                <key>frame</key>
                <string>{{69,157},{43,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_8</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_militaryman_9</key>
            <dict>
                <key>frame</key>
                <string>{{69,157},{43,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>boss_animation_nightman_0</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-46,27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_1</key>
            <dict>
                <key>frame</key>
                <string>{{116,452},{15,28}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,25},{15,28}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_10</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-46,27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{59,48}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{59,48}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_12</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-46,27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{59,48}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{59,48}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_14</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{51,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_15</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{93,48}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_16</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{93,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{93,48}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_17</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{89,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{89,48}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_18</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{65,44}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{65,44}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_19</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{65,46}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{65,46}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_2</key>
            <dict>
                <key>frame</key>
                <string>{{133,450},{15,28}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{15,28}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_20</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{59,44}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{59,44}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{59,44}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{59,44}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_22</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{59,44}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{59,44}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_3</key>
            <dict>
                <key>frame</key>
                <string>{{129,297},{23,32}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{23,32}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_4</key>
            <dict>
                <key>frame</key>
                <string>{{129,331},{23,32}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{23,32}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_5</key>
            <dict>
                <key>frame</key>
                <string>{{129,297},{23,32}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{23,32}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_6</key>
            <dict>
                <key>frame</key>
                <string>{{129,331},{23,32}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{23,32}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{59,48}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{59,48}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_8</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-46,27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_nightman_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{59,48}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{59,48}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>boss_animation_sheriffman_0</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_1</key>
            <dict>
                <key>frame</key>
                <string>{{119,433},{15,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{15,29}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_10</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_11</key>
            <dict>
                <key>frame</key>
                <string>{{100,302},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{27,39}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_12</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_13</key>
            <dict>
                <key>frame</key>
                <string>{{100,343},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{27,39}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_14</key>
            <dict>
                <key>frame</key>
                <string>{{114,185},{35,37}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{35,37}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_15</key>
            <dict>
                <key>frame</key>
                <string>{{69,102},{53,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{53,35}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_16</key>
            <dict>
                <key>frame</key>
                <string>{{48,354},{53,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{53,35}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_17</key>
            <dict>
                <key>frame</key>
                <string>{{49,409},{47,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{47,33}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_18</key>
            <dict>
                <key>frame</key>
                <string>{{49,409},{47,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{47,33}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_19</key>
            <dict>
                <key>frame</key>
                <string>{{49,409},{47,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{47,33}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_2</key>
            <dict>
                <key>frame</key>
                <string>{{91,485},{15,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{15,29}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_20</key>
            <dict>
                <key>frame</key>
                <string>{{49,409},{47,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{47,33}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_21</key>
            <dict>
                <key>frame</key>
                <string>{{49,409},{47,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{47,33}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_22</key>
            <dict>
                <key>frame</key>
                <string>{{49,409},{47,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{47,33}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_3</key>
            <dict>
                <key>frame</key>
                <string>{{129,365},{23,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{23,31}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_4</key>
            <dict>
                <key>frame</key>
                <string>{{91,452},{23,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{23,31}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_5</key>
            <dict>
                <key>frame</key>
                <string>{{129,365},{23,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{23,31}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_6</key>
            <dict>
                <key>frame</key>
                <string>{{91,452},{23,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{23,31}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_7</key>
            <dict>
                <key>frame</key>
                <string>{{100,302},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{27,39}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_8</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_sheriffman_9</key>
            <dict>
                <key>frame</key>
                <string>{{100,302},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{27,39}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>boss_animation_vineman_0</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-24,18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_1</key>
            <dict>
                <key>frame</key>
                <string>{{116,452},{15,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{15,28}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_10</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-24,18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_11</key>
            <dict>
                <key>frame</key>
                <string>{{53,458},{39,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{39,36}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_12</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-24,18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_13</key>
            <dict>
                <key>frame</key>
                <string>{{112,256},{39,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{39,34}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_14</key>
            <dict>
                <key>frame</key>
                <string>{{85,384},{33,32}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{33,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_15</key>
            <dict>
                <key>frame</key>
                <string>{{120,398},{33,32}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_16</key>
            <dict>
                <key>frame</key>
                <string>{{84,418},{33,32}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{33,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_17</key>
            <dict>
                <key>frame</key>
                <string>{{114,144},{39,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_18</key>
            <dict>
                <key>frame</key>
                <string>{{110,222},{37,32}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{37,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_19</key>
            <dict>
                <key>frame</key>
                <string>{{110,222},{37,32}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{37,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_2</key>
            <dict>
                <key>frame</key>
                <string>{{133,450},{15,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{15,28}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_20</key>
            <dict>
                <key>frame</key>
                <string>{{110,222},{37,32}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{37,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_21</key>
            <dict>
                <key>frame</key>
                <string>{{110,222},{37,32}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{37,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_22</key>
            <dict>
                <key>frame</key>
                <string>{{110,222},{37,32}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{37,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_3</key>
            <dict>
                <key>frame</key>
                <string>{{129,297},{23,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{23,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_4</key>
            <dict>
                <key>frame</key>
                <string>{{129,331},{23,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{23,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_5</key>
            <dict>
                <key>frame</key>
                <string>{{129,297},{23,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{23,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_6</key>
            <dict>
                <key>frame</key>
                <string>{{129,331},{23,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{23,32}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_7</key>
            <dict>
                <key>frame</key>
                <string>{{53,458},{39,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{39,36}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_8</key>
            <dict>
                <key>frame</key>
                <string>{{55,351},{1,1}}</string>
                <key>offset</key>
                <string>{-24,18.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>boss_animation_vineman_9</key>
            <dict>
                <key>frame</key>
                <string>{{53,458},{39,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{39,36}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_animation.pvr.ccz</string>
            <key>size</key>
            <string>{154,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f91ce126485ce8e4b1c738ff1924819:e245c4177a0c0698f715d44d57af561b:6883c70e8aa608147e41f14c0ca93c29$</string>
            <key>textureFileName</key>
            <string>boss_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
