<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green_soldier_attack_0</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{40,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,35}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_1</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_2</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{38,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_3</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_4</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_5</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_6</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_7</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_attack_9</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{42,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>green_soldier_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{40,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,35}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>green_soldier.pvr.ccz</string>
            <key>size</key>
            <string>{248,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf346b1496b71d7ffe57ae8edc2292e:aedec12a24c624dad90caabc5889f65a:c6936990a40ada5ce6ce256704beffd4$</string>
            <key>textureFileName</key>
            <string>green_soldier.pvr.ccz</string>
        </dict>
    </dict>
</plist>
