<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cody_dash_0</key>
            <dict>
                <key>frame</key>
                <string>{{107,68},{33,25}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>cody_dash_1</key>
            <dict>
                <key>frame</key>
                <string>{{77,1},{45,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>cody_dash_2</key>
            <dict>
                <key>frame</key>
                <string>{{25,1},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>cody_dash_3</key>
            <dict>
                <key>frame</key>
                <string>{{77,1},{45,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>violet_airdash_0</key>
            <dict>
                <key>frame</key>
                <string>{{1,228},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>violet_airdash_1</key>
            <dict>
                <key>frame</key>
                <string>{{96,194},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>violet_airdash_2</key>
            <dict>
                <key>frame</key>
                <string>{{128,168},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>violet_climb_0</key>
            <dict>
                <key>frame</key>
                <string>{{34,218},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>violet_climb_1</key>
            <dict>
                <key>frame</key>
                <string>{{63,218},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>violet_climbshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{198,1},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>violet_dashjump_0</key>
            <dict>
                <key>frame</key>
                <string>{{151,220},{23,34}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,54}</string>
            </dict>
            <key>violet_dashjump_1</key>
            <dict>
                <key>frame</key>
                <string>{{1,56},{23,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,48}}</string>
                <key>sourceSize</key>
                <string>{23,54}</string>
            </dict>
            <key>violet_dashjump_2</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{23,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,54}}</string>
                <key>sourceSize</key>
                <string>{23,54}</string>
            </dict>
            <key>violet_dashump_3</key>
            <dict>
                <key>frame</key>
                <string>{{1,56},{23,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,48}}</string>
                <key>sourceSize</key>
                <string>{23,54}</string>
            </dict>
            <key>violet_hurt_0</key>
            <dict>
                <key>frame</key>
                <string>{{133,66},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>violet_hurt_1</key>
            <dict>
                <key>frame</key>
                <string>{{201,210},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>violet_hurt_10</key>
            <dict>
                <key>frame</key>
                <string>{{133,66},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>violet_hurt_11</key>
            <dict>
                <key>frame</key>
                <string>{{201,210},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>violet_hurt_12</key>
            <dict>
                <key>frame</key>
                <string>{{133,66},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>violet_hurt_13</key>
            <dict>
                <key>frame</key>
                <string>{{201,210},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>violet_hurt_14</key>
            <dict>
                <key>frame</key>
                <string>{{133,66},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>violet_hurt_2</key>
            <dict>
                <key>frame</key>
                <string>{{133,66},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>violet_hurt_3</key>
            <dict>
                <key>frame</key>
                <string>{{201,210},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>violet_hurt_4</key>
            <dict>
                <key>frame</key>
                <string>{{133,66},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>violet_hurt_5</key>
            <dict>
                <key>frame</key>
                <string>{{201,210},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>violet_hurt_6</key>
            <dict>
                <key>frame</key>
                <string>{{133,66},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>violet_hurt_7</key>
            <dict>
                <key>frame</key>
                <string>{{201,210},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>violet_hurt_8</key>
            <dict>
                <key>frame</key>
                <string>{{133,66},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>violet_hurt_9</key>
            <dict>
                <key>frame</key>
                <string>{{201,210},{25,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>violet_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{98,135},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>violet_jumpshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{194,33},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>violet_morph_0</key>
            <dict>
                <key>frame</key>
                <string>{{92,220},{28,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_1</key>
            <dict>
                <key>frame</key>
                <string>{{92,220},{28,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_10</key>
            <dict>
                <key>frame</key>
                <string>{{34,140},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_11</key>
            <dict>
                <key>frame</key>
                <string>{{67,101},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_12</key>
            <dict>
                <key>frame</key>
                <string>{{34,179},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_13</key>
            <dict>
                <key>frame</key>
                <string>{{65,140},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_14</key>
            <dict>
                <key>frame</key>
                <string>{{65,179},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_15</key>
            <dict>
                <key>frame</key>
                <string>{{124,27},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_16</key>
            <dict>
                <key>frame</key>
                <string>{{34,101},{32,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_17</key>
            <dict>
                <key>frame</key>
                <string>{{25,27},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_18</key>
            <dict>
                <key>frame</key>
                <string>{{58,27},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_19</key>
            <dict>
                <key>frame</key>
                <string>{{25,68},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_2</key>
            <dict>
                <key>frame</key>
                <string>{{134,135},{28,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_20</key>
            <dict>
                <key>frame</key>
                <string>{{91,27},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_21</key>
            <dict>
                <key>frame</key>
                <string>{{66,68},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_22</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_23</key>
            <dict>
                <key>frame</key>
                <string>{{1,146},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_24</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_25</key>
            <dict>
                <key>frame</key>
                <string>{{163,163},{28,28}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_26</key>
            <dict>
                <key>frame</key>
                <string>{{131,102},{30,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_27</key>
            <dict>
                <key>frame</key>
                <string>{{98,102},{32,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_28</key>
            <dict>
                <key>frame</key>
                <string>{{162,97},{32,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_3</key>
            <dict>
                <key>frame</key>
                <string>{{163,130},{28,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_4</key>
            <dict>
                <key>frame</key>
                <string>{{163,130},{28,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_5</key>
            <dict>
                <key>frame</key>
                <string>{{163,130},{28,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_6</key>
            <dict>
                <key>frame</key>
                <string>{{163,130},{28,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_7</key>
            <dict>
                <key>frame</key>
                <string>{{193,179},{28,30}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_8</key>
            <dict>
                <key>frame</key>
                <string>{{159,1},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_morph_9</key>
            <dict>
                <key>frame</key>
                <string>{{155,32},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>violet_slide_0</key>
            <dict>
                <key>frame</key>
                <string>{{107,68},{33,25}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>violet_slide_1</key>
            <dict>
                <key>frame</key>
                <string>{{77,1},{45,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>violet_slide_2</key>
            <dict>
                <key>frame</key>
                <string>{{25,1},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>violet_slide_3</key>
            <dict>
                <key>frame</key>
                <string>{{77,1},{45,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>violet_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{129,194},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>violet_stand_1</key>
            <dict>
                <key>frame</key>
                <string>{{195,127},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>violet_stand_2</key>
            <dict>
                <key>frame</key>
                <string>{{192,153},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>violet_stand_3</key>
            <dict>
                <key>frame</key>
                <string>{{161,192},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>violet_standshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{195,95},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>violet_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{121,220},{29,31}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>violet_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{123,1},{25,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>violet_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{175,218},{25,31}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,31}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>violet_walk_3</key>
            <dict>
                <key>frame</key>
                <string>{{123,1},{25,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>violet_walkshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{162,63},{33,31}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{33,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>violet_walkshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{194,65},{29,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>violet_walkshoot_2</key>
            <dict>
                <key>frame</key>
                <string>{{96,162},{31,31}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{31,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>violet_walkshoot_3</key>
            <dict>
                <key>frame</key>
                <string>{{194,65},{29,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>violet.pvr.ccz</string>
            <key>size</key>
            <string>{234,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80619790a97c3a60bb5a68fd09b99162:f9eed188b690f31771db2a4451ecf6fa:81aa9f93f89d210bb497480a4d0f6c6a$</string>
            <key>textureFileName</key>
            <string>violet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
