<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dolphin_still_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>dolphin_swim_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>dolphin_swim_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>dolphin_swim_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>dolphin_wake_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>dolphin_wake_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dolphin.png</string>
            <key>size</key>
            <string>{58,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67ebc186cf45de9365b9d2f4bc61e3e2:23f22f4631aa0895fcc462c6b5bdb4fc:a9279645dc9050168ded1aeebb4cb510$</string>
            <key>textureFileName</key>
            <string>dolphin.png</string>
        </dict>
    </dict>
</plist>
