<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backpacker_attack_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,89}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>backpacker_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{61,71}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>backpacker.pvr.ccz</string>
            <key>size</key>
            <string>{122,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62bfac89ccdd9596238abb4abb8538be:5dfc36998cdacd430e27a97391557c60:b5e987e69fcefd6eba397d0e34d5f443$</string>
            <key>textureFileName</key>
            <string>backpacker.pvr.ccz</string>
        </dict>
    </dict>
</plist>
