<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backpacker_bullet_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>backpacker_bullet_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>backpacker_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{24,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11de90a0b3cb6e983f5a003bec253213:1ac16037c535fc395abc557316016e66:5d38ee309ae6b6db4d916466e8c45e52$</string>
            <key>textureFileName</key>
            <string>backpacker_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
