<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_worm_attack_0</key>
            <dict>
                <key>frame</key>
                <string>{{407,15},{7,5}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{7,5}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_1</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{11,11}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{11,11}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_10</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{19,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{19,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_11</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{25,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{25,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_12</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{25,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{25,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_13</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{25,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{25,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_14</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{21,27}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{21,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_15</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{19,27}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{19,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_16</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{19,27}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{19,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_17</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{19,27}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{19,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_18</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{21,27}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{21,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_19</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{25,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{25,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_2</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{25,21}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{25,21}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_20</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{25,33}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_21</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,27}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{31,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_22</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{41,23}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{41,23}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_23</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,27}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{31,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_3</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{25,25}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{25,25}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_4</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{25,31}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{25,31}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_5</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{25,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{25,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_6</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{25,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{25,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_7</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{21,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{21,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_8</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{19,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{19,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_attack_9</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{19,27}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{19,27}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>robot_worm_still_0</key>
            <dict>
                <key>frame</key>
                <string>{{407,15},{7,5}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{7,5}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>robot_worm.pvr.ccz</string>
            <key>size</key>
            <string>{420,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98fdb17d592dda3b719e6b76b341fbf:b12b6597e8aba58e76f82ea09bd64ce0:47eaa4c260f33a2f2b83f1482631d42e$</string>
            <key>textureFileName</key>
            <string>robot_worm.pvr.ccz</string>
        </dict>
    </dict>
</plist>
