<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_attack_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,180}}</string>
                <key>sourceSize</key>
                <string>{57,180}</string>
            </dict>
            <key>flower_attack_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,180}}</string>
                <key>sourceSize</key>
                <string>{57,180}</string>
            </dict>
            <key>flower_attack_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{57,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,180}}</string>
                <key>sourceSize</key>
                <string>{57,180}</string>
            </dict>
            <key>flower_attack_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,180}}</string>
                <key>sourceSize</key>
                <string>{57,180}</string>
            </dict>
            <key>flower_attack_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{57,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,180}}</string>
                <key>sourceSize</key>
                <string>{57,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower.png</string>
            <key>size</key>
            <string>{61,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09b22d31bb82191508faaff9e1a6d505:8a9ce4ce894e3ac1d15805cdace16097:28b5f63aee02c9e802c3848dbb8fc9b7$</string>
            <key>textureFileName</key>
            <string>flower.png</string>
        </dict>
    </dict>
</plist>
