<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down_0</key>
            <dict>
                <key>frame</key>
                <string>{{28,50},{7,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{7,5}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>arrow_right_0</key>
            <dict>
                <key>frame</key>
                <string>{{18,50},{4,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{4,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>square_large_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,14}}</string>
                <key>sourceSize</key>
                <string>{229,14}</string>
            </dict>
            <key>square_small_0</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selector.pvr.ccz</string>
            <key>size</key>
            <string>{64,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97076cf2ef72ebf8c75d78db33ed2a6a:80dadb3e685ae8ad0d17003b553552de:b01856c78e93abcc8e807be9dbc035ac$</string>
            <key>textureFileName</key>
            <string>selector.pvr.ccz</string>
        </dict>
    </dict>
</plist>
