<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rip_jumper_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{32,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{32,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{32,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_4</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_6</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_8</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_jump_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>rip_jumper_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{32,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rip_jumper.pvr.ccz</string>
            <key>size</key>
            <string>{36,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da69d5ef83265ad7bdde85a06482901d:f59c62d89efa5ec784f0bf2cacee5ed0:94b4432ba4e768c14975231812136e4a$</string>
            <key>textureFileName</key>
            <string>rip_jumper.pvr.ccz</string>
        </dict>
    </dict>
</plist>
