<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>extreme_bullet_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>extreme_bullet_1</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{55,21}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{55,21}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>extreme_bullet.pvr.ccz</string>
            <key>size</key>
            <string>{126,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1cb96e8d4062e5bfc6d76b4b7cc035c:5a20f057f016cbf0336ac2e0282665c1:2e75d8499094698f3e8b52b8beaaf2bd$</string>
            <key>textureFileName</key>
            <string>extreme_bullet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
