<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>extreme_climb_0</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{44,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>extreme_climb_1</key>
            <dict>
                <key>frame</key>
                <string>{{41,42},{44,38}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>extreme_climbshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{42,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>extreme_climbshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{42,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>extreme_dashjump_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,52}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>extreme_dashjump_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{37,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>extreme_dashjump_2</key>
            <dict>
                <key>frame</key>
                <string>{{87,44},{37,38}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,52}</string>
            </dict>
            <key>extreme_hurt_0</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_1</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_10</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_11</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{25,24}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_12</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_13</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{25,24}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_14</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_2</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_3</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_4</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_5</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_6</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_7</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_8</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{37,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_hurt_9</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{25,24}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{25,24}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>extreme_jump_0</key>
            <dict>
                <key>frame</key>
                <string>{{125,122},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>extreme_jump_1</key>
            <dict>
                <key>frame</key>
                <string>{{122,157},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>extreme_jump_2</key>
            <dict>
                <key>frame</key>
                <string>{{88,192},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>extreme_jumpshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>extreme_jumpshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{41,82},{40,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>extreme_stand_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_1</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_10</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_11</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_12</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_13</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_14</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_2</key>
            <dict>
                <key>frame</key>
                <string>{{45,191},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_3</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_4</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_5</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_6</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_7</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_8</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_stand_9</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>extreme_standshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>extreme_walk_0</key>
            <dict>
                <key>frame</key>
                <string>{{41,121},{39,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>extreme_walk_1</key>
            <dict>
                <key>frame</key>
                <string>{{125,192},{33,33}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>extreme_walk_2</key>
            <dict>
                <key>frame</key>
                <string>{{123,87},{37,33}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>extreme_walk_3</key>
            <dict>
                <key>frame</key>
                <string>{{125,192},{33,33}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>extreme_walkshoot_0</key>
            <dict>
                <key>frame</key>
                <string>{{127,44},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>extreme_walkshoot_1</key>
            <dict>
                <key>frame</key>
                <string>{{36,156},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>extreme_walkshoot_2</key>
            <dict>
                <key>frame</key>
                <string>{{79,156},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>extreme_walkshoot_3</key>
            <dict>
                <key>frame</key>
                <string>{{36,156},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>extreme.pvr.ccz</string>
            <key>size</key>
            <string>{162,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:799816a07c71c7508d6a6e208afa8ea4:642f1680653b7d35f178d13eaa1d576c:8279ac649db56c2792631cdc784fdf59$</string>
            <key>textureFileName</key>
            <string>extreme.pvr.ccz</string>
        </dict>
    </dict>
</plist>
